*.cbp
Parser
SVG_plotter
Makefile
tasks.xml
out/
.idea/
build/
CMakeFiles/
bin/
lib/
example/fc/
example/toyStrings/
example/test/
example/repetitive/
cmake-build-debug-mingw/
cmake-build-debug/
*.bin
*.html
*.svg
*.sdsl
PresentationFile/
statistiche/
*.o
todo
MakeFile
CMakeCache.txt
cmake_install.cmake
VisualSuffixTree
CMakeModules/
cmake-build-debug/
