tasks.xml
out/
.idea/
build/
CMakeFiles/
bin/
lib/
example/
cmake-build-debug-mingw/
cmake-build-debug/
*.bin
*.html
*.svg
*.sdsl
PresentationFile/
statistiche/
*.o
todo
MakeFile
CMakeCache.txt
cmake_install.cmake
VisualSuffixTree
CMakeModules/
cmake-build-debug/